
{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
  <div class="max-w-md mx-auto bg-gray-800 rounded-2xl shadow-lg p-8">
    <h1 class="text-3xl font-bold mb-6 text-white">Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
      <div class="mb-4">
        {{ form_row(registrationForm.email, {
          attr: {
            class: 'block w-full bg-gray-700 text-gray-200 border border-gray-600 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 px-4 py-2'
          }
        }) }}
      </div>
      <div class="mb-4">
        {{ form_row(registrationForm.username, {
          attr: {
            class: 'block w-full bg-gray-700 text-gray-200 border border-gray-600 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 px-4 py-2'
          }
        }) }}
      </div>
      <div class="mb-4">
        {{ form_row(registrationForm.plainPassword, {
          label: 'Password',
          attr: {
            class: 'block w-full bg-gray-700 text-gray-200 border border-gray-600 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 px-4 py-2'
          }
        }) }}
      </div>
      <div class="mb-6">
        {{ form_row(registrationForm.agreeTerms, {
          attr: {
            class: 'h-5 w-5 text-indigo-500 bg-gray-700 border-gray-600 rounded focus:ring-indigo-400'
          }
        }) }}
      </div>

      <button type="submit" class="w-full px-4 py-2 bg-indigo-600 hover:bg-indigo-700 rounded-md text-white font-semibold">Register</button>
    {{ form_end(registrationForm) }}
  </div>
{% endblock %}
